@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: "Commissioner", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6;

}
.btn {
  background-color: hsl(176, 72%, 28%);
}
.masterLogo {
  position: absolute;
  left: 50%;
  top: -16%;
  transform: translateX(-50%) ;
}
.data {
  filter: grayscale(70%);
  filter: contrast(50%);
 
}

.data>button {
  filter: grayscale(100%);
}
.subTitle {
  color :hsl(176, 72%, 28%)
}
